* {
  margin: 0px;
  padding: 0px;
}

body {
  width: 100vw;
  height: 100vh;
}

header {
  margin: 0;

  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  color: white;
  background-color: black;
  height: 7%;
  align-items: center;
}
div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: space-around;
  padding-top: 2em;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #fc466b;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4caf50;
  cursor: pointer;
}

.slidecontainer input {
  margin-top: 1em;
}
.slider::-webkit-slider-thumb:hover {
  background: aqua;
}

span {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.skaFiras {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
